
.header__items {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
    margin-right: 10vh;

}


.header__image {
    background-image: url("/assets/header_image_1.jpg");
    background-color: var(--header-bg-color);
    height: 100vh; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 

}


.header__text {
    color: var(--headerimage-text-color);
    font-size: var(--font-size-h1);
    margin-top: 30vh;
    margin-left: 10vh;

}


.link__button {
    cursor: pointer;
}