:root {
    --project-item-bg-color: hsl(46, 87%, 40%);
}

.project__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.project__intro {
    height: 14em;
    overflow: hidden;
} 

.project__item {
    display: flex;
    flex-direction: column;


    background-color: var(--project-item-bg-color);
    height: auto;
    width: 49%;
    padding: 2em 2em;
    border-radius: 0.5rem;

}

.project__item img {
    width: 90%;
    height: auto;
    padding: 1em;
    border-radius: 1.7em;
    margin: 0 auto;
    
}

.project__item h2 {
    min-height: 2em;
}

@media screen and (max-width: 960px) {
    .project__container {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .project__item {
        width: 100%;
        margin-top: 1em;
        padding: 1vh;
    }
}